{% include 'overall/head.twig' %}
<body>
	{% include 'overall/topnav.twig' %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center text-uppercase">{{ Title }}</h1>
				<h2>{{ param }}</h2>
			</div>
		</div>
		<form action="/Horizon/test/case/1" method="post" accept-charset="utf-8">
			<div class="row mt-3">
				<div class="col-md-3">
					<input type="text" name="nombre" class="form-control" placeholder="Nombre" maxlength="128" required="true">
				</div>
				<div class="col-md-3">
					<input type="text" name="email" class="form-control" placeholder="Email" maxlength="64" required="true">
				</div>
				<div class="col-md-3">
					<input type="text" name="username" class="form-control" placeholder="Nombre de Usuario" maxlength="32" required="true">
				</div>
				<div class="col-md-3">
					<input type="password" name="password" class="form-control" placeholder="Contraseña" maxlength="64" required="true">
				</div>
			</div>
			<div class="row mt-2">
				<div class="col-md-6">
					<a href="/TMF/home" class="btn btn-danger form-control">Volver</a>
				</div>
				<div class="col-md-6">
					<button type="submit" class="btn btn-success form-control">Enviar</button>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered table-striped table-sm">
		    	<thead>
		    		<tr class="table-header">
		    			<th colspan="3">{{ Table_Header }}</th>
		    		</tr>
		    		<tr>
		    			<th>Nombre</th>
		    			<th>Email</th>
		    			<th>Nombre de Usuario</th>
		    		</tr>
		    	</thead>
		    	<tbody>
		    			{% for usr in usuarios %}
		    			<tr>
		    				<td>{{ usr.nombre }}</td>
		    				<td>{{ usr.email }}</td>
		    				<td>{{ usr.username }}</td>
			    		</tr>
		    			{% endfor %}
		    	</tbody>
		    </table>
			</div>
		</div>
	</div>
{% include 'overall/footer.twig' %}
</body>
</html>